:host{
    display: block;
    width: 100%; 
}

header{
    width: 100%;
    padding: 28px;
    border-bottom: 1px solid var(--gray-300);
}

nav{
    display: grid;
    grid-template-columns: 125px 150px 125px;
    gap: 12px;
    align-items: center;
    justify-content: center;

    div:first-child{
        justify-content: right;
    }
    div:last-child{
        justify-content: left;
    }
}

.menu1{
    justify-content: right;
}

.menu1,
.menu2{
    display: flex;
    align-items: center;
}

.logo{
    img{
        width: 100%;
        max-width: 150px;
        height: auto;
    }
}

.main-menu-button{
    font-size: 1rem;
    font-weight: 500;
}