:root {
  // Crust
  --crust-100: #f4dcc0;
  --crust-200: #e8c090;
  --crust-300: #daad72;
  --crust-400: #c68948;
  --crust-500: #a96732;
  --crust-600: #7a411f;
  --crust-700: #4f2412;

  // Sauce
  --sauce-100: #d89885;
  --sauce-200: #bd6b55;
  --sauce-300: #9c4a35;
  --sauce-400: #833723;
  --sauce-500: #631f0f;
  --sauce-600: #451309;
  --sauce-700: #290804;

  // Olive
  --olive-100: #857c78;
  --olive-200: #5f5652;
  --olive-300: #3a302d;
  --olive-400: #1d1514;
  --olive-500: #120d0c;
  --olive-600: #0a0706;
  --olive-700: #050303;

  // Steel
  --steel-100: #c5d5dd;
  --steel-200: #9db8c6;
  --steel-300: #789aae;
  --steel-400: #50768c;
  --steel-500: #32454d;
  --steel-600: #22333a;
  --steel-700: #142228;

  // Mushroom
  --mushroom-100: #e5d7ca;
  --mushroom-200: #cbb8a6;
  --mushroom-300: #b49d87;
  --mushroom-400: #9f8670;
  --mushroom-500: #755c49;
  --mushroom-600: #4d382c;
  --mushroom-700: #2d1f18;

  // Cheese
  --cheese-100: #f7f8f7;
  --cheese-200: #ebedeb;
  --cheese-300: #dddfdd;
  --cheese-400: #cdcfcd;
  --cheese-500: #a9aca9;
  --cheese-600: #7b7f7b;
  --cheese-700: #4b504b;

  // Pepper
  --pepper-100: #d8edc8;
  --pepper-200: #b6d99b;
  --pepper-300: #8fbd65;
  --pepper-400: #6da044;
  --pepper-500: #4f7c2e;
  --pepper-600: #35551f;
  --pepper-700: #1f3412;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;
}